<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.fast.sys.dao.ShopProdDao">

    <select id="findById" resultType="com.cy.fast.sys.entity.ShopProd">
		select
		*
		from shop_prod
		where id = #{prodId}
	</select>

</mapper>